* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #0c0900;
    background-image: url("./Media/hero-section-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s ease;
}

/* Navbar - Structure */

#navbar-logo {
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
}

header nav {
    background-color: #fac81b;
}

header nav ul li { 
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
    color: black;
}

header nav a { 
    text-decoration: none;
    color: black;
}

header nav button.btn {
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

/* Navbar - Effects */

#navbar-logo:hover {
    animation: agitarse 0.3s infinite ease-in-out;
}

.navbar-element:hover  {
    cursor: pointer;
    animation: aparecerCajasSombreadas 1s infinite ease-in;
}

header {
    background-color: #fac81b;
}

@keyframes rotar {
    50%{
        transform: scale(0.75);
    }
    100%{
        transform: rotate(100deg);
    }
}

@keyframes agitarse {
    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}

@keyframes aparecerCajasSombreadas {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px black;
    }

    100% {
        box-shadow: none;
    }
}

main, section, h2, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    backdrop-filter: blur(3px);
    section {
        background-color: rgb(52,73,94);
        width: 30%;
        margin: auto;
        padding: 40px 20px;
        box-shadow: black 0 -1rem 2.5rem inset, black 0 1.5rem 2rem 0rem;
        border-radius: 0 0 10rem 10rem;
        h2 {
            width: 200px;
            background-color: #fac81b;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 5px;
        }
        form {
            width: 100%;
            padding:40px;
            input:not(.check, .boton), select {
                width: 200px;
                height: 40px;
                padding-left: 1rem;
                margin-bottom: 20px;
                border-radius: 30px;
                box-shadow: 0 4px 8px black;
            }
        }
        div:has(.boton) {
            width: 60%;
        }
        .boton {
            width: 100%;
            background-color:#fac81b;
            border: 2px solid black;
            color: black;
            padding: 1rem 1rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: black 0 0 0.5rem inset;
        }
        p {
            color: whitesmoke;
        }
        a {
            margin-top:10px;
            text-decoration: none;
            color: #1098D3;
            font-weight:400;
        } 
        :is(a:not(:has(button)), .boton):hover {
            filter: brightness(1.3)
        }
    }
}

button:hover{
    cursor:pointer;
    animation: aparecerCajasSombreadas 1s infinite ease-in;
}

:is(#email, #contraseña):hover {
    transform: scale(1.2);
}

/* Estilos de validación */

.input-invalido {
    display: none;
}

input:valid + .input-invalido {
    display: none;
}

.validado:invalid + .input-invalido {
    display: block;
    color: red;
    font-size: 0.9rem;
    margin: -20px auto 0 auto;
    text-align: center;
}

.validado:invalid {
    background-color: pink;
    border-color: darkred;
}

/* Motivational Section - Structure */

#motivational-section {

    background-image: url(./Media/movie-blog-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin-top: 3em;

}


#titulo-principal-motivational-section {

    font-size: 3.5em;
    font-style: 900;
    color: white;
    text-align: center;
    width: 45vw;

}


#banner-motivational-section {
    font-size: 3.7rem;
    font-weight: 900;
    color: white;
    text-align: center;
    width: 30vw;
}


#yellow-hr-bar {
    height: 2vh;
    width: 80vw;
    background-color: #fac81b;
}

#boton-administrar-peliculas {
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
}

/* Motivational Section - Effects */


/* Footer - Structure */

footer {
    color: white;
    background-color: #0c0900;
    z-index: 999;
}

.footer-icon {
    color: #fac81b;
}

#footer-arrow {
    color: white;
    font-size: 1.5em;
}